<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s8">
        <h3 id="group-name">{{ group }}</h3>
        <h5 id="num-members">4 members</h5>
      </div>
      <div class="col s2">
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Leave Group</a>
      </div>
      <div class="col s2">
        <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Invite</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s4"><a class="active" href="#graphs">Graphs</a></li>
          <li class="tab col s4"><a href="#feed">Feed</a></li>
          <li class="tab col s4"><a href="#leader">Leaderboard</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- leaderboard -->
<div id="leader" class="row">
  <div class="col s4">
    <h5>TODO: leaderboard</h5>
  </div>
</div>

<!-- group feed -->
<div id="feed" class="row">
  <div class="col s10">
    <div class="activity">
      <b>Friend A</b> bought 1.087 shares in <b>AMZN</b>.
      Just Now
    </div>
  </div>
  <div class="row"></div>
  <div class="col s10">
    <div class="activity">
      <b>Friend C</b> bought 0.579 shares in <b>GOOG</b>.
      5 minutes ago
    </div>
  </div>
  <div class="row"></div>
  <div class="col s10">
    <div class="activity">
      <b>You</b> sold 1.234 shares in <b>MSFT</b>.
      2 hours ago
    </div>
  </div>
  <div class="row"></div>
  <div class="col s10">
    <div class="activity">
      <b>Friend C</b> joined the group.
      1 day ago
    </div>
  </div>
</div>

<!-- group performance graph -->
<div id="graphs" class="row">
  <div class="col s4">
    <h5>Group Performance:</h5>
  </div>
  <div class="col s6 offset-s3">
    <div id="chartdiv3" style="width:100%; height:400px;">
  </div>
</div>

<!-- leave group -->
<div id="modal1" class="modal">
  <div class="modal-content container">

    <div class="row">
      <div class="col s12">
        <h4>Are you sure you want to leave the {{ group }} Group?</h4>
      </div>
    </div>

    <!-- cancel and confirm buttons -->
    <div class="center-align">
      <div class="row">
        <a href="#!" class="modal-action modal-close waves-effect waves-red red btn">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green green btn">Confirm</a>
      </div>
    </div>

  </div>
</div>

<!-- invite members to group -->
<div id="modal2" class="modal">
  <div class="modal-content container">

    <div class="row">
      <div class="col s12">
        <h4>Invite Members to {{ group }} Group</h4>
      </div>
    </div>

    <!-- search bar -->
    <div class="center-align">
      <div class="row">
        <form>
          <div class="input-field">
            <input id="search autocomplete-input" type="search" class="autocomplete" required placeholder="">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </div>

    <!-- list friends currently invited -->
    <div class="row">
      <div class="col s8">
        <h5>Inviting:</h5>
      </div>
    </div>

    <!-- cancel and invite buttons -->
    <div class="center-align">
      <div class="row">
        <a href="#!" class="modal-action modal-close waves-effect waves-red red btn">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green green btn">Invite</a>
      </div>
    </div>

  </div>
</div>
