<!-- leave group modal -->
<div id="modal-leave" class="modal atlassian white-text center-align">
  <div class="modal-content container">

    <div class="row">
      <div class="col s12">
        <h4>Leave Group</h4>
        <p>Are you sure you want to leave <b>{{ group }}</b>?</p>
      </div>
    </div>

    <!-- cancel and confirm buttons -->
    <div class="center-align">
      <div class="row">
        <a href="#!" class="modal-action modal-close waves-effect waves-red red btn">Cancel</a>
        <a href="#!" id="btn-leave" class="modal-action modal-close waves-effect waves-green green btn">Confirm</a>
      </div>
    </div>

  </div>
</div>

<!-- invite members to group modal -->
<div id="modal-invite" class="modal atlassian white-text">
  <div class="modal-content container">
    <div class="row">
      <div class="col s12 center-align">
        <h4 class="orange-text">Add Members to {{ group }}</h4>
      </div>
    </div>

    <!-- search bar -->
    <div class="center-align">
      <div class="row">
        <form>
          <div class="input-field col s12">
            <div class="chips chips-autocomplete chips-placeholder"></div>
          </div>
        </form>
      </div>
    </div>

    <!-- cancel and invite buttons -->
    <div class="center-align">
      <div class="row">
        <a href="#!" class="modal-action modal-close waves-effect waves-red red btn">Cancel</a>
        <a href="#!" id="btn-invite" class="modal-action modal-close waves-effect waves-green green btn">Confirm</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12">
    <div class="card atlassian">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s8" style="padding-left:0px;">
            <h4 class="orange-text" id="company-name" style="display:inline-block;">{{ group }}</h4>
          </div>

          <div class="col s4" align="right">
            <a class="waves-effect waves-light btn modal-trigger blue" href="#modal-invite">Add Members</a>
            <a class="waves-effect waves-light btn modal-trigger red" href="#modal-leave">Leave Group</a>
          </div>
        </div>

        <div class="row">
          <div class="col s9" style="padding-left:0px;">
            <p id="num-group-members">members</p>
          </div>
        </div>

        <div class="row">
          <div class="col s9" style="padding-left:0px;">
            <b>Members: </b>
            <p id="group-member-names"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <!-- TODO CHANGE ACTIVE -->
      <li class="tab col s4"><a href="#graphs">Graphs</a></li>
      <li class="tab col s4"><a class="active" href="#feed">Feed</a></li>
      <li class="tab col s4"><a href="#leader">Leaderboard</a></li>
    </ul>
  </div>
</div>

<!-- leaderboard -->
<div id="leader" class="row">
  <div class="col s8 offset-s2 center-align">
    <div class="leaderboard">
      <h4 style="text-align:center">Leaderboard</h4>
      <ol id="leaderboard-list">
        <!--<li><span class="name">Sample</span><span class="percent">2%</span></li>-->
      </ol>
    </div>
  </div>
</div>

<!-- popup to comment on an event in the feed -->
<div id="comment-on-feed" class="modal atlassian left-align white-text">
  <div class="modal-content container">
    <div class="row">
      <h4 class="orange-text">Post comment</h4>
      <div class="input-field col s12 modal-body-box">
        <textarea id="new-comment-text" class="materialize-textarea" placeholder="Comment" maxlength="500"></textarea>
      </div>
    </div>

    <div class="row">
      <a href="#!" class="modal-action modal-close waves-effect waves-red red btn">Cancel</a>
      <a id="post-new-comment" href="#!" class="modal-action modal-close waves-effect waves-green green btn">Post</a>
    </div>

  </div>
</div>

<!-- popup to delete a comment in the feed -->
<div id="delete-comment-on-feed-form" class="modal atlassian left-align white-text">
  <div class="modal-content container">
    <div class="row">
      <h4 class="orange-text">Delete comment</h4>
      <p>Are you sure? This cannot be undone.</p>
    </div>

    <div class="row">
      <a href="#!" class="modal-action modal-close waves-effect waves-red red btn">Cancel</a>
      <a id="delete-comment-bttn" href="#!" class="modal-action modal-close waves-effect waves-green green btn">Delete</a>
    </div>

  </div>
</div>

<!-- used to pass feed/event id when making/deleting a comment -->
<!-- also store list of user ids for efficiency -->
<form method="POST" action="">
  <input id="post-comment-id" type="hidden" value="">
  <input id="delete-comment-id" type="hidden" value="">
  <input id="delete-post-id" type="hidden" value="">
  <!-- id of post num comments that comment to delete is attached to -->

  <input id="group-member-ids" type="hidden" value="">
</form>

<!-- group feed -->
<div id="feed" class="row" >
  <ul class="collection atlassian-text feed-main" id="group-feed-events">
<!--
    <div class="col s12 feed-col">
      <li class="collection-item avatar space-gray feed-item">
        <img src="images/sample_user.png" alt="" class="circle">
        <span class="title spaceship-text feed-username"><a href="#">Friend A</a></span>
        <span class="feed-action">bought 1.087 shares of AMZN</span>
        <p><small class="feed-timestamp">10 seconds ago</small></p>
        <a href="#" class="feed-comments-link">1 comment</a>
        <a class="waves-effect waves-light btn modal-trigger secondary-content" href="#comment-on-feed" onclick="document.getElementById('post-comment-id').value='1231';">Comment</a>
      </li>
    </div>

    <br>
    <div class="col s11 offset-s1 feed-col" id="comment-id-1231">
      <ul>
        <li class="collection-item avatar space-gray feed-item">
          <img src="images/sample_user.png" alt="" class="circle">
          <span class="title spaceship-text feed-username"><a href="#">Friend B</a></span>
          <span class="feed-action">commented on this thing</span>
          <p><small class="feed-timestamp">2 seconds ago</small></p>
        </li>
      </ul>
    </div>
    <br>
    <div class="col s12 feed-col">
      <li class="collection-item avatar space-gray feed-item">
        <img src="images/sample_user.png" alt="" class="circle">
        <span class="title spaceship-text feed-username"><a href="#">Friend C</a></span>
        <span class="feed-action">did something</span>
        <p><small class="feed-timestamp">1 hour ago</small></p>
        <a class="waves-effect waves-light btn modal-trigger secondary-content" href="#comment-on-feed" onclick="document.getElementById('post-comment-id').value='1232';">Comment</a>
      </li>
    </div>

    <br>
    <div class="col s11 offset-s1 feed-col" id="comment-id-1232">
      <ul>
      </ul>
    </div>

    <br>
    <div class="col s12 feed-col">
      <li class="collection-item avatar space-gray feed-item">
        <img src="images/sample_user.png" alt="" class="circle">
        <span class="title spaceship-text feed-username"><a href="#">You</a></span>
        <span class="feed-action">sold 1.234 shares of MSFT</span>
        <p><small class="feed-timestamp">2 hours ago</small></p>
        <a class="waves-effect waves-light btn modal-trigger secondary-content" href="#comment-on-feed" onclick="document.getElementById('post-comment-id').value='1233';">Comment</a>
      </li>
    </div>

    <br>
    <div class="col s11 offset-s1 feed-col" id="comment-id-1233">
      <ul>
      </ul>
    </div>

    <br>
    <div class="col s12 feed-col">
      <li class="collection-item avatar space-gray feed-item">
        <img src="images/sample_user.png" alt="" class="circle">
        <span class="title spaceship-text feed-username"><a href="#">Friend C</a></span>
        <span class="feed-action">joined the group</span>
        <p><small class="feed-timestamp">1 day ago</small></p>
        <a href="#" class="feed-comments-link">2 comments</a>
        <a class="waves-effect waves-light btn modal-trigger secondary-content" href="#comment-on-feed" onclick="document.getElementById('post-comment-id').value='1234';">Comment</a>
      </li>
    </div>

    <br>
    <div class="col s11 offset-s1 feed-col" id="comment-id-1234">
      <ul>
        <li class="collection-item avatar space-gray feed-item">
          <img src="images/sample_user.png" alt="" class="circle">
          <span class="title spaceship-text feed-username"><a href="#">Friend B</a></span>
          <span class="feed-action">Welcome!</span>
          <p><small class="feed-timestamp">1 day ago</small></p>
        </li>
        <li class="collection-item avatar space-gray feed-item">
          <img src="images/sample_user.png" alt="" class="circle">
          <span class="title spaceship-text feed-username"><a href="#">You</a></span>
          <span class="feed-action">Hey - welcome to the group!</span>
          <p><small class="feed-timestamp">21 hours ago</small></p>
        </li>
      </ul>
    </div>
-->
  </ul>
</div>

<!-- groups graphs tab -->
<div id="graphs" class="row">
  <div class="col s6 offset-s3">
    <ul class="tabs" id="graph-tabs">
      <li class="tab col s6"><a class="active" href="#graph1">Multiple Panels</a></li>
      <li class="tab col s6"><a href="#graph2">Compare Members</a></li>
    </ul>
  </div>

  <!-- graph tabs -->
  <div id="graph1" class="col s12">
    <div class="row">
      <div class="col s3 offset-s3 right-align">
        <a class='dropdown-button btn orange' href='#' data-activates='dropdown1'>Stock One</a>
      </div>
      <div class="col s3 left-align">
        <a class='dropdown-button btn orange' href='#' data-activates='dropdown2'>Stock Two</a>
      </div>
      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">MSFT</a></li>
        <li><a href="#!">GOOG</a></li>
      </ul>
      <!-- Dropdown Structure -->
      <ul id='dropdown2' class='dropdown-content'>
        <li><a href="#!">AMZN</a></li>
        <li><a href="#!">FB</a></li>
      </ul>

    </div>
    <div id="chartdiv1" style="width:100%; height:400px;"></div>
  </div>
  <div id="graph2" class="col s12">
    <div id="chartdiv2" style="width:100%; height:400px;"></div>
  </div>

<!-- group performance graph -->
<!-- <div id="graphs" class="row">
  <div class="col s4">
    <h5>Group Performance:</h5>
  </div>
  <div class="col s6 offset-s3">
    <div id="chartdiv3" style="width:100%; height:400px;">
  </div>
</div> -->
