<!-- leave group modal -->
<div id="modal-leave" class="modal atlassian white-text center-align">
  <div class="modal-content container">

    <div class="row">
      <div class="col s12">
        <h4>Leave Group</h4>
        <p>Are you sure you want to leave <b>{{ group }}</b>?</p>
      </div>
    </div>

    <!-- cancel and confirm buttons -->
    <div class="center-align">
      <div class="row">
        <a href="#!" class="modal-action modal-close waves-effect waves-red red btn">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green green btn">Confirm</a>
      </div>
    </div>

  </div>
</div>

<!-- invite members to group modal -->
<div id="modal-invite" class="modal atlassian white-text">
  <div class="modal-content container">
    <div class="row">
      <div class="col s12 center-align">
        <h4 class="orange-text">Invite Members to {{ group }}</h4>
      </div>
    </div>

    <!-- search bar -->
    <div class="center-align">
      <div class="row">
        <form>
          <div class="input-field col s12">
            <div class="chips chips-autocomplete chips-placeholde"></div>
          </div>
        </form>
      </div>
    </div>

    <!-- cancel and invite buttons -->
    <div class="center-align">
      <div class="row">
        <a href="#!" class="modal-action modal-close waves-effect waves-red red btn">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green green btn">Invite</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12">
    <div class="card atlassian">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s8" style="padding-left:0px;">
            <h4 class="orange-text" id="company-name" style="display:inline-block;">{{ group }}</h4>
          </div>

          <div class="col s4" align="right">
            <a class="waves-effect waves-light btn modal-trigger blue" href="#modal-invite">Invite</a>
            <a class="waves-effect waves-light btn modal-trigger red" href="#modal-leave">Leave</a>
          </div>
        </div>

        <div class="row">
          <div class="col s9" style="padding-left:0px;">
            <p id="num-group-members">members</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4"><a class="active" href="#graphs">Graphs</a></li>
      <li class="tab col s4"><a href="#feed">Feed</a></li>
      <li class="tab col s4"><a href="#leader">Leaderboard</a></li>
    </ul>
  </div>
</div>

<!-- leaderboard -->
<div id="leader" class="row">
  <div class="col s8 offset-s2 center-align">
    <div class="leaderboard">
      <h4 style="text-align:center">Leaderboard</h4>
      <ol>
        <li><span class="name">Jason</span><span class="percent">2%</span></li>
        <li><span class="name">Ben</span><span class="percent">1.8%</span></li>
        <li><span class="name">David</span><span class="percent">0.2%</span></li>
        <li><span class="name">Jessica</span><span class="percent">-0.3%</span></li>
        <li><span class="name">Dom</span><span class="percent">-0.6%</span></li>
        <li><span class="name">Michael</span><span class="percent">-1.2%</span></li>
      </ol>
    </div>
  </div>
</div>

<!-- group feed -->
<div id="feed" class="row" >
  <ul class="collection atlassian-text" style="border:1px solid rgba(44, 62, 80, 0.52)">
    <li class="collection-item avatar space-gray">
      <img src="images/sample_user.png" alt="" class="circle">
      <span class="title spaceship-text">Friend A</span>
      <p>Bought 1.087 shares of AMZN.<br>
        Just now
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons orange-text">grade</i></a>
    </li>

    <li class="collection-item avatar space-gray">
      <img src="images/sample_user.png" alt="" class="circle">
      <span class="title spaceship-text">Friend C</span>
      <p>Bought 0.579 shares of GOOG.<br>
        5 minutes ago
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons orange-text">grade</i></a>
    </li>

    <li class="collection-item avatar space-gray">
      <img src="images/sample_user.png" alt="" class="circle">
      <span class="title spaceship-text">You</span>
      <p>Sold 1.234 shares of MSFT.<br>
        2 hours ago
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons orange-text">grade</i></a>
    </li>

    <li class="collection-item avatar space-gray">
      <img src="images/sample_user.png" alt="" class="circle">
      <span class="title spaceship-text">Friend C</span>
      <p>Joined the group.<br>
        1 day ago
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons orange-text">grade</i></a>
    </li>
  </ul>
</div>

<div id="graphs" class="row">
  <div class="col s6 offset-s3">
    <ul class="tabs" id="graph-tabs">
      <li class="tab col s6"><a class="active" href="#graph1">Multiple Panels</a></li>
      <li class="tab col s6"><a href="#graph2">Compare Members</a></li>
    </ul>
  </div>

  <!-- graph tabs -->
  <div id="graph1" class="col s12">
    <div class="row">
      <div class="col s3 offset-s3 right-align">
        <a class='dropdown-button btn orange' href='#' data-activates='dropdown1'>Stock One</a>
      </div>
      <div class="col s3 left-align">
        <a class='dropdown-button btn orange' href='#' data-activates='dropdown2'>Stock Two</a>
      </div>
      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">MSFT</a></li>
        <li><a href="#!">GOOG</a></li>
      </ul>
      <!-- Dropdown Structure -->
      <ul id='dropdown2' class='dropdown-content'>
        <li><a href="#!">AMZN</a></li>
        <li><a href="#!">FB</a></li>
      </ul>

    </div>
    <div id="chartdiv1" style="width:100%; height:400px;"></div>
  </div>
  <div id="graph2" class="col s12">
    <div id="chartdiv2" style="width:100%; height:400px;"></div>
  </div>

<!-- group performance graph -->
<!-- <div id="graphs" class="row">
  <div class="col s4">
    <h5>Group Performance:</h5>
  </div>
  <div class="col s6 offset-s3">
    <div id="chartdiv3" style="width:100%; height:400px;">
  </div>
</div> -->
