<div class="section no-pad-bot" id="index-banner">
  <div class="row">
    <h5>My Portfolio</h5>
    <table class="striped">
      <thead>
      <th>Name</th>
      <th>Current</th>
      <th>Change</th>
      <th>High</th>
      <th>Low</th>
      </thead>
      <tbody>

      <tr>
        <td class="stock-name"><a href="/stock?stock=ALXN&company=Alexion+Pharmaceuticals">ALXN</a></td>
        <td class="stock-current">$149.92</td>
        <td class="stock-change change-negative">-0.02%</td>
        <td class="stock-high">$153.27</td>
        <td class="stock-low">$105.90</td>
      </tr>

      <tr>
        <td class="stock-name"><a href="/stock?stock=AMZN&company=Amazon.com+Inc">AMZN</a></td>
        <td class="stock-current">$973.21</td>
        <td class="stock-change change-negative">-0.04%</td>
        <td class="stock-high">$1024.96</td>
        <td class="stock-low">$965.34</td>
      </tr>

      <tr>
        <td class="stock-name"><a href="/stock?stock=GOOGL&company=Alphabet+Inc+Class+A">GOOG</a></td>
        <td class="stock-current">$947.54</td>
        <td class="stock-change change-positive">+0.13%</td>
        <td class="stock-high">$989.76</td>
        <td class="stock-low">$867.42</td>
      </tr>

      <tr>
        <td class="stock-name"><a href="/stock?stock=MSFT&company=Microsoft+Corp.">MSFT</a></td>
        <td class="stock-current">$74.94</td>
        <td class="stock-change change-positive">+0.03%</td>
        <td class="stock-high">$82.34</td>
        <td class="stock-low">$71.25</td>
      </tr>

      <tr>
        <td class="stock-name"><a href="/stock?stock=NKE&company=Nike">NIKE</a></td>
        <td class="stock-current">$53.55</td>
        <td class="stock-change change-negative">-0.02%</td>
        <td class="stock-high">$57.23</td>
        <td class="stock-low">$49.97</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
