<div class="section no-pad-bot" id="index-banner">
  <div class="row">
    <h5>My Portfolio</h5>
    <table class="striped">
      <thead>
      <th>Name</th>
      <th>Current</th>
      <th>Change</th>
      <th>High</th>
      <th>Low</th>
      </thead>
      <tbody>
      <tr>
        <td class="stock-name"><a href="/stock?stock=GOOGL&company=Alphabet+Inc+Class+A">GOOG</a></td>
        <td class="stock-current">$210.16</td>
        <td class="stock-change change-positive">+0.13%</td>
        <td class="stock-high">$213.40</td>
        <td class="stock-low">$206.13</td>
      </tr>

      <tr>
        <td class="stock-name"><a href="/stock?stock=AMZN&company=Amazon.com+Inc">AMZN</a></td>
        <td class="stock-current">$106.00</td>
        <td class="stock-change change-negative">-0.04%</td>
        <td class="stock-high">$106.90</td>
        <td class="stock-low">$105.80</td>
      </tr>

      <tr>
        <td class="stock-name"><a href="http://localhost:3000/stock?stock=MSFT&company=Microsoft+Corp.">MSFT</a></td>
        <td class="stock-current">$16.00</td>
        <td class="stock-change change-positive">+0.03%</td>
        <td class="stock-high">$16.10</td>
        <td class="stock-low">$15.60</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
