<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <!-- Custom CSS for each page -->
    {{#each css}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}

    <title>{{ title }}</title>
</head>
<body>
<header>
  <div class="navbar-fixed no-shaddow">
    <div class="nav-wrapper">
      <nav class="no-shaddow atlassian" role="navigation">
        <div class="nav-wrapper container">
          <div class="row">
            <div class="col s9">
              <div class="input-field col s8 offset-s4">
                <i class="material-icons prefix">search</i>
                <input type="text" id="autocomplete" class="autocomplete autocomplete-main" placeholder="Search Stock">
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<ul id="slide-out" class="side-nav fixed no-shaddow atlassian-text">
    <li>
      <div class="user-view center-align">
        <h4 class="center-align">NewStock</h4>
      </div>
    </li>
    <li><a href="/"><i class="material-icons ">home</i>Home</a></li>
    <li><a class="subheader">Portfolio</a></li>
    <li><a href="/stock?stock=AMZN&company=Amazon+Inc."><i class="material-icons ">keyboard_arrow_right</i>AMZN</a></li>
    <li><a href="/stock?stock=MSFT&company=Microsoft"><i class="material-icons ">keyboard_arrow_right</i>MSFT</a></li>
    <li><a href="/stock?stock=CBA&company=Commonwealth+Bank+of+Australia"><i class="material-icons ">keyboard_arrow_right</i>CBA</a></li>
    <li><a href="/stock?stock=ALXN&company=Alexion+Pharmaceuticals"><i class="material-icons ">keyboard_arrow_right</i>ALXN</a></li>
    <li><a href="/stock?stock=GOOG&company=Google+Inc."><i class="material-icons ">keyboard_arrow_right</i>GOOG</a></li>
    <li><a class="subheader">Groups</a></li>
    <li><a href="/groups?group=Work"><i class="material-icons ">group</i>Work</a></li>
    <li><a href="/groups?group=Friends"><i class="material-icons ">group</i>Friends</a></li>
    <li><a href="#!"><i class="material-icons ">account_circle</i>Sign Out</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons ">menu</i></a>
<!-- ALL CONTENT GOES HERE -->
<main>
    {{{ body }}}
</main>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/listofcompanies.js"></script>
<!-- Custom JS for each page -->
{{#each js}}
<script src="{{this}}" type="text/javascript"></script>
{{/each}}
<script src="js/searchbar.js"></script>
</body>
</html>
