/*
 * Custom CSS for activity feed.
 */

.activity {
	background-color: #ABCDEF;
	color: #204142;
	white-space: pre;
	border: thin solid #204142;
	border-radius: 1em;
	padding-left: 1em;
	padding-right: 1em;
	width: 600px;
	text-align: left;
	float: left;
	white-space: pre-wrap;
}
