
 .leaderboard {
   margin-top: 50px;
   background-color: #123;
   color: #eee;
   width: 500px;
   border-radius: 5px;
   top: 20%;
   box-shadow: 2px 5px 15px rgba(17, 34, 51, 0.5);
   text-align: left;
   display: inline-block;
   vertical-align: middle;
 }
 .leaderboard h2 {
   padding: 15px 0;
   margin: 0;
   text-align: center;
 }
 .leaderboard p {
   margin: 3px 10px;
   text-align: right;
   color: #567;
 }
 .leaderboard ol {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 .leaderboard ol li {
   counter-increment: leaderboard-num;
   padding: 15px 50px;
   position: relative;
   transition-duration: 0.3s;
 }
 .leaderboard ol li::before {
   content: counter(leaderboard-num);
   display: block;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   background-color: white;
   color: #345;
   text-align: center;
   position: absolute;
   left: 15px;
 }
 .leaderboard ol li:nth-of-type(1) {
   background-color: #4d5e6f;
 }
 .leaderboard ol li:nth-of-type(2) {
   background-color: #435465;
 }
 .leaderboard ol li:nth-of-type(3) {
   background-color: #394a5b;
 }
 .leaderboard ol li:nth-of-type(4) {
   background-color: #2f4051;
 }
 .leaderboard ol li:nth-of-type(5) {
   background-color: #253647;
 }
 .leaderboard ol li:nth-of-type(6) {
   background-color: #1b2c3d;
 }
 .leaderboard ol li .percent {
   position: absolute;
   right: 15px;
 }
 .leaderboard ol li:hover {
   transform: scale(1.1);
 }
 .leaderboard ol:hover li:not(:hover) {
   opacity: 0.3;
 }
#return-text {
    color: #2bbbad;
    margin-top: 5px;
    margin-bottom: 0;
}

input[type=text] {
    color: white !important;
}

.feed-main {
    /*border:1px solid rgba(44, 62, 80, 0.52);*/
    border: 0 !important;
}

.feed-col {
    padding: 0 !important;
}

.modal-body-box {
    padding: 0 !important;
}