/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.no-shaddow {
  box-shadow:none !important;
}
.side-nav{
    margin-top: 65px;
    width: 250px;
    height:100%;
}

main {
  padding-left: 250px;
}


.tabs .tab a.active {
  color: #2bbbad;
}

.tabs .tab a:hover {
  color: #2bbbad;
}

.tabs .tab a {
  color: #2c3e50;
}
.tabs .indicator {
    background-color: #2bbbad;
}

#graph-tabs .indicator {
    background-color: transparent;
}
#graph-tabs .tab a.active {
  color: #2bbbad;
}

.input-field input:focus {
   border-bottom: 1px solid #2bbbad !important;
   box-shadow: 0 1px 0 0 #2bbbad !important
 }

<<<<<<< HEAD
 .leaderboard {
   margin-top: 50px;
   background-color: #123;
   color: #eee;
   width: 500px;
   border-radius: 5px;
   top: 20%;
   box-shadow: 2px 5px 15px rgba(17, 34, 51, 0.5);
   text-align: left;
   display: inline-block;
   vertical-align: middle;
 }
 .leaderboard h2 {
   padding: 15px 0;
   margin: 0;
   text-align: center;
 }
 .leaderboard p {
   margin: 3px 10px;
   text-align: right;
   color: #567;
 }
 .leaderboard ol {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 .leaderboard ol li {
   counter-increment: leaderboard-num;
   padding: 15px 50px;
   position: relative;
   transition-duration: 0.3s;
 }
 .leaderboard ol li::before {
   content: counter(leaderboard-num);
   display: block;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   background-color: white;
   color: #345;
   text-align: center;
   position: absolute;
   left: 15px;
 }
 .leaderboard ol li:nth-of-type(1) {
   background-color: #4d5e6f;
 }
 .leaderboard ol li:nth-of-type(2) {
   background-color: #435465;
 }
 .leaderboard ol li:nth-of-type(3) {
   background-color: #394a5b;
 }
 .leaderboard ol li:nth-of-type(4) {
   background-color: #2f4051;
 }
 .leaderboard ol li:nth-of-type(5) {
   background-color: #253647;
 }
 .leaderboard ol li:nth-of-type(6) {
   background-color: #1b2c3d;
 }
 .leaderboard ol li .percent {
   position: absolute;
   right: 15px;
 }
 .leaderboard ol li:hover {
   transform: scale(1.1);
 }
 .leaderboard ol:hover li:not(:hover) {
   opacity: 0.3;
 }
=======
#return-text {
    color: #2bbbad;
    margin-top: 5px;
    margin-bottom: 0;
}

.stock-change.change-positive {
    color: #4caf50;
}

.stock-change.change-negative {
    color: #f44336;
}
>>>>>>> 34a5c4fbe249b0fa0cf49085a6a0a7e206f342c2
