/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.no-shaddow {
  box-shadow:none !important;
}
.side-nav{
    top: 65px;
    width: 250px;
}

main {
  padding-left: 250px;
}
/*.dropdown-content {
  z-index: 5 !important;
}
.tabs {
  z-index: 10 !important;
}*/
