/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .fade-enter-active, .fade-leave-active {
   transition: opacity .5s
 }
 .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
   opacity: 0
 }

 .text-center {
   text-align: center;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.no-shaddow {
  box-shadow:none !important;
}
.side-nav{
    margin-top: 65px;
    width: 250px;
    height:100%;
}

main {
  padding-left: 250px;
}


.tabs .tab a.active {
  color: #2bbbad;
}

.tabs .tab a:hover {
  color: #2bbbad;
}

.tabs .tab a {
  color: #2c3e50;
}
.tabs .indicator {
    background-color: #2bbbad;
}

#graph-tabs .indicator {
    background-color: transparent;
}
#graph-tabs .tab a.active {
  color: #2bbbad;
}

.input-field input:focus {
   border-bottom: 1px solid #2bbbad !important;
   box-shadow: 0 1px 0 0 #2bbbad !important
 }

 .stock-change.change-positive {
    color: #4caf50;
}

.stock-change.change-negative {
    color: #f44336;
}

/* Darker colour for Search Stocks placeholder text in stock Compare tab */
.autocomplete2::-webkit-input-placeholder { /* Chrome */
    color: #9e9e9e;
}
.autocomplete2:-ms-input-placeholder { /* IE 10+ */
    color: #9e9e9e;
}
.autocomplete2::-moz-placeholder { /* Firefox 19+ */
    color: #9e9e9e;
    opacity: 1;
}
.autocomplete2:-moz-placeholder { /* Firefox 4 - 18 */
    color: #9e9e9e;
    opacity: 1;
}

.sentiment-text {
    padding-left: 5px;
}

.news-item {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.news-body {
    padding-top: 10px;
}

.finances-text {
    padding-left: 5px;
    font-weight: bold;
}

.finances-table {
    box-sizing: border-box;
    overflow: hidden;
    /* margin: 2em auto; */
    border-collapse: collapse;
    min-width: 23em; width: 70%; max-width: 56em;
    border-radius: .3em;
    box-shadow: 0 0 .2em #000;
}

/* at a glance company info */
.disabled-input {
    color: black;
    cursor: default;
}
